.login1{
	margin-top:12%;
	border:solid 1px #D3D3D3;
	width:30%;
	background-color:white;
}
.modal-title{
	color:white;
}
.modal-header{
	background-color:#4682B4;
}
.modal-footer{
	padding:5px;
}
@font-face { font-family: OpenSans; src: url('Open_Sans/OpenSans-Regular.TTF'); } 
.login2{
	font-family:OpenSans;
}
.body{
	background-color:silver;
}
.side{
	float:left;
	margin-top:-20px;
	padding-top:10px; 
	border-right:solid 1px #dcdcdc; 
	height:110%;
}
.tambah{
	margin-top:2%;
}
.tambah2{
	border:solid 1px #dcdcdc;
}
.tambah3{
	border-bottom:solid 1px #e7e7e7;
	margin:0px;
	margin-left:-15px;
	margin-right:-15px;
	padding:10px;
	color:black;
	background-color:white;
}
.nav2{
	margin-left:-29px !important;
	margin-right:-30px !important;
}
.nav3{
	color:black !important;
}
.nav2:hover{
	border-left:solid black;
}
.nav4{
	padding-left:3px;
}
.nav4:hover{
	padding-left:0px;
}
.aktif{
	background-color:#f0f0f0;
	border-left:solid black;
}
.aktif:after{
  content:"";
  width:0px;
  height:40px;
  position:absolute;
  left:82.20%;
  top:0px;
  border-width:20px;
  border-style:solid;
  border-color:transparent white transparent transparent;
}
.ukuran{
		font-size:16px;
		font-weight:bold;
		text-align:center;
}
.ukuran2{
	font-size:15px;
}
.ukuran3{
	font-size:15px;
	width:100px;
}
.judul{
	margin-left:19%;
}
.pagin{
	margin-top:-30px;
	margin-right:30px;
	float:right;
}
.batas{
	clear:both;
}
@media screen and (max-width:990px){
	.side{
		float:none;
	}
	.judul{
		margin-left:0px;
		text-align:center;
	}
	.pagin{
		margin-top:0px;
	margin-right:0px;
	text-align:center;
	float:none;
	}
}
